/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	margin: 0px;
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	justify-content: center;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
<body style="margin: 0px; background: #0e0e0e; height: 100%"><img style="-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://curriculum-content.s3.amazonaws.com/fewds-css/fe-zetsy-complete.jpg" width="150" height="125"></body>
